<div id="wrapper">
	<div id="innerwrapper">
		
		<%= form_for(@group) do|f| %>
			
			<div class="field">
				<p>Group Name</p>
				<%= f.text_field :group_name%>
			</div>

			<div class = "actions">
				<%= f.submit %>
			</div>

		<% end %>
	</div>
</div>
