<div id="wrapper">
	<div id="innerwrapper">
		<div>
			<h2><%= @group.group_name%></h2>
		<!-- ADD THE MANY TO MANY RELATIONSHIP SOON SO THAT WE CAN SEE WHICH USERS BELONG TO THIS GROUP -->
		</div>
	</div>
</div>