<div id="wrapper">
	<div id="innerwrapper">

	   			<% User.order(name: :asc).each do |user| %>
	   				<div class="post_index comment_index post_show">

		 				<ul>
		 					<li class = "title"><%= link_to user.name, user_path(user.id) %></li>
		 					<li><%= user.email %></li>
		 				</ul>
		 			</div>
	 	 		<%end%>
			</div>

 		</div>
 	</div>
 </div>
