<div id="wrapper">
	<div id="innerwrapper">
		<div class="post_index comment_index post_show">

			<div class="centered">
				<li class = "title"><%= @user.name %></li>
				 <li><%= @user.email %></li>
				 <li><%= @user.phone %></li>
			
			</div>
		</div>
	</div>
</div>

