
<!DOCTYPE html>
<html>
	<head>
		<title> Google </title>
	</head>

	<body>

		<div class="content">
			<div class="title">
				<img src="https://www.google.com/images/srpr/logo11w.png">
			</div>

			<form>
				<ul>
					<li>
						<input id="gbqf	" class"gbqfif" name="q" type="text">
					</li>	
				</ul>
				<div class="jsb" id="button">
					<button class="gbqfba" aria-label="Google Search" id="gbqfba" name="btnk">
						<span id="gbqfsa">Google Search</span>
					</button>
				
					<button class="gbqfba" aria-label="I'm Feeling Lucky" onclick="google.x(this,function() {google.ifl && google.ifl.o();})" id="gbqfbb" name="btnI">
						<span id="gbqfsb">I'm Feeling Lucky</span>
					</button>	
			
				</div>	
			</form>
			</div>
	</div>


	</body>

</html>