
<!DOCTYPE html>
<html>
	<head>
		<title> Google </title>
	</head>

	<body>
		<div class="content">
			<div id="logo">
				<img src ="https://www.google.com/images/srpr/logo11w.png"/>
			</div>
		
			<div id="jsb">	
				<form >
					<div id="search">
						<input class"search" type="text">
					</div>
					
					<div id="buttons">
						<button class="gbqfba" aria-label="Google Search" id="gbqfba" name="btnk">
							<span id="gbqfsa">Google Search</span>
						</button>
						
						<button class="gbqfba" aria-label="I'm Feeling Lucky" onclick="google.x(this,function() {google.ifl && google.ifl.o();})" id="gbqfba" name="btnI">
							<span id="gbqfsb">I'm Feeling Lucky</span>
						</button>	
					</div>
				</form>
			</div>	
		</div>
	</body>
</html>