<div id="wrapper">
	<div id="innerwrapper">
		
		<div>
			<h2><%= @post.title%></h2>
			<p><%= @post.body %></p>
			<p><%= @post.link %></p>
			<p class="small_text">(User: <%= @post.user.name %>)</p>
		</div>

	</div>
</div>