/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
/* 		background-image: url('sunset.png');
 		background-repeat:no-repeat;
 		background-size: cover;
 		background-position: center center;
 		background-image: fixed;
*/ 		font-family: "Utopia","Georgia",serif;
 		color: rgb(94, 86, 86);
 		background-color:white;
 		margin: 0;
 		padding: 0;
 		overflow: hidden;
 		/*opacity: 0.55;
		z-index:1;*/

 }

 .small_text{
 	font-size: 10px;
 }
 
 #content input[type=submit]{
	background-color:rgba(240, 185, 235, 0.55);
	opacity: 0.70;
	z-index:1;
	color:rgb(29, 26, 119);
 }
 .title{
 	font-size: 30px;
 	text-transform: uppercase;
 	color: rgb(29, 26, 119);
 }
 .title a:link{
 	color:rgb(29, 26, 119);
 }
 
 .title a:visited{
 	color:rgb(29, 26, 119);
 }
 .title a:hover{
 	color:rgba(240, 185, 235, 0.55);
 }
 .center{
 	text-align: center;
 }

 .italics{
 	font-style: italic;
 }
 	
.navbar{
	height: 50px;
	box-shadow:0px 0px 10px rgba(240, 185, 235, 0.55);
	border-radius: 4px;

	background-color:rgba(240, 185, 235, 0.55);
	opacity: 0.55;

	width: 100%;
}
.nav{
	position:fixed;
	margin-top: 0%;
	margin-left: 0%;
	margin-right:0%;
	margin-bottom:0%;

	width:96%;
	z-index:1;
}

.nav li{
	display: inline;	
	list-style-type: none;

	padding-right:20px;
	padding-left: 8px;
	padding-top:20px;
	padding-bottom: 20px;
	
	position: relative;
	float:right;
	text-align: right;
	text-transform: uppercase;
	font-size: 11px;
	color:rgb(29, 26, 119);
}


.dashboard{
	float: left;
	display: inline;	
	list-style-type: none;
	text-align: left;
}

#content{
	position:absolute;
	width:100%;
	top: 75px;
	z-index: 0;

}
.nav a:link {
	color:rgb(29, 26, 119);
	text-decoration: none;
}    

.nav a:visited {
	color: rgb(29, 26, 119);
	text-decoration: none
}  

.nav a:hover {
	color:white;
	text-decoration: underline;
} 

.nav a:active {
	color:rgb(29, 26, 119);
	text-decoration: underline;		
}

a:link {
	color:rgb(94, 86, 86);
	text-decoration: none;
}    

a:visited {
	color: rgb(94, 86, 86);
	text-decoration: none
}  

a:hover {
	color:rgba(240, 185, 235, 0.55);
	text-decoration: underline;
} 

a:active {
	color:rgba(240, 185, 235, 0.55);
	text-decoration: underline;		
}

#wrapper {
	width:96%;
	height: auto;
	
	border: 2px dotted rgb(29, 26, 119);
	border-radius: 4px;


	position: absolute;
	top:30px;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	overflow-x: auto;
	z-index: 0;

}

#innerwrapper {
	height: auto;

	position: relative;
	list-style-type: none;
	text-align: center;
	float:middle;
	vertical-align: middle;
	padding: 15px;
	z-index: 0;

}

#devise{
	padding: 25px;
}

.post_index{
	border: 1px solid rgb(29, 26, 119);

	width: 375px;
	height: auto;
	display: inline-block;
	float: left;
	margin: 11px;
}

.button_to {
	display: block;

	margin: 5px;
	margin-right: auto;
	margin-left: auto;
}
.dropdown{
	list-style:none;
	margin-right: 0	;
	text-align: left;
	padding: 0;
	vertical-align: top;
	position: relative;
	width: 40px;
	font-size: 11px;
 }
.dropdown a{
    display:block;
    color:rgb(29, 26, 119);
	background-color:rgba(240, 185, 235, 0.55);
	padding: 5px;
	border-radius: 4px;
	    
}

.left{
	float: left;
	display: inline;	
	list-style-type: none;
	text-align: left;	
}

.dropdown a:hover{
    color:white;
	text-decoration: underline;
}
.dropdown ul{
    list-style:none;
    position:absolute;
    left: 280px;
}
.dropdown li{
	padding: 0px;
}

.dropdown ul ul{
	display: none;
	float:left;
	position: absolute;
	left: 0;
}
.dropdown ul ul li{
	margin: 2px;
}
.dropdown ul a{
    white-space:nowrap; 
}
.dropdown:hover ul {
	display: block;
}

.nav .dropdown{
	vertical-align: center;
}

.nav .dropdown a{
	float: left;
	background-color: transparent;
	vertical-align: middle;
/*	padding-top:20px;
*/	padding-bottom: 20px;
	font-size: 11px;
	margin:20px;
}

.nav .dropdown ul{
	left: 0px;
}

.nav .dropdown li {
	position: relative;
	
	text-align: left;
	z-index:12;
}

.hide{
	display: none;
}