/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body{
 		background-color: white;
 		font-family: Helvetica, Arial, sans-serif;
 		font-size: 13px;
 		line-height: 17px;
 		padding: 0;
 		margin: 0;
 
 }
 title{
 	background-color: url("google-logo.png");
 	height: 269px;
 	width:208px;
 	position: relative;
 }
 .nav{
	position:fixed;
	width: 308px;
	width: 100%;
	background-color: white;
	height: 60px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.nav li{
	display: inline;
	line-height: 58px;
	height: 60px;
	position: relative;

}
.nav-link{
	padding:10px;
	padding-top:13px;
	padding-bottom: 14px;
	color:#000;
	text-decoration:none;
	float:right;
	position: relative;
	display: inline-block;
	line-height: 24px;
	outline: none;
	vertical-align:middle;
}
