/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
/* 		background-image: url('sunset.png');
 		background-repeat:no-repeat;
 		background-size: cover;
 		background-position: center center;
 		background-image: fixed;
*/ 			
 		color: rgb(94, 86, 86);
 		background-color:white;
 		margin: 0;
 		padding: 0;
 		overflow: hidden;
 		/*opacity: 0.55;
		z-index:1;*/

 }
 ::-webkit-scrollbar{
 	width: 12px;
 }
 ::-webkit-scrollbar-track{
 	-webkit-box-shadow: inset 0 0 6px rgb(94, 86, 86);
 	border-radius: 5px;
 }
 ::-webkit-scrollbar-thumb{
 	border-radius: 5px;
 	-webkit-box-shadow: inset 0 0 6px rgb(94, 86, 86);
 }

 .small_text{
 	font-size: 10px;
 }
 @font-face{
 	font-family: 'bird';
 	src: url('bird.ttf') format('truetype');
 }
 
 .name{
 	font-family: 'bird', Fallback, sans-serif;
 	font-size: 100px;
 	padding: 5px;
 	margin: 0;
 	text-transform: uppercase;
 	color: rgb(29, 26, 119);
 }
  .name2{
 	font-family: 'bird', Fallback, sans-serif;
 	font-size: 50px;
 		padding: 5px;
 	margin: 0;
 	text-decoration: bold;
 	color: rgb(94, 86, 86);
 }
 .title{
 	font-size: 30px;
 	text-transform: uppercase;
 	color: #040077;
 }
 
 #content input[type=submit]{
	background-color:rgba(240, 185, 235, 0.55);
	color:rgb(29, 26, 119);
 }
  #content input[type=submit]:hover{
 	color: rgb(94, 86, 86) !important;
	text-decoration: underline !important;	
}

 .title a:link{
 	color:#040077;
 }
 
 .title a:visited{
 	color:#040077;
 }
 .title a:hover{
 	color:rgba(240, 185, 235, 0.55);
 }
 .center{
 	text-align: center;
 }

 .italics{
 	font-style: italic;
 }
 	
.navbar{
	height: 50px;
	box-shadow:0px 0px 10px rgba(240, 185, 235, 0.55);
	border-radius: 4px;

	background-color:rgba(240, 185, 235, 0.55);
	opacity: 0.55;

	width: 100%;
}
.nav{
	position:fixed;
	margin-top: 0%;
	margin-left: 0%;
	margin-right:0%;
	margin-bottom:0%;

	width:96%;
	z-index:1;
}

.nav li{
	display: inline;	
	list-style-type: none;

	padding-right:15px;
	padding-left: 10px;
	padding-top:20px;
	padding-bottom: 20px;
	
	position: relative;
	float:right;
	text-align: right;
	text-transform: uppercase;
	font-size: 11px;
	color:#040077;
}


.dashboard{
	float: left;
	display: inline;	
	list-style-type: none;
	text-align: left;
}

#content{
	position:relative;
	width:100%;
	top: 15px;
	z-index: 1;

}
.nav a:link {
	color:#040077;
	text-decoration: none;
}    

.nav a:visited {
	color: #040077;
	text-decoration: none
}  

.nav a:hover {
	color:white;
	text-decoration: underline;
} 

.nav a:active {
	color:#040077;
	text-decoration: underline;		
}

a:link {
	color:#040077;
	text-decoration: none;
}    

a:visited {
	color: #040077;
	text-decoration: none
}  

a:hover {
	color:rgba(240, 185, 235, 0.55);
	text-decoration: underline;
} 

a:active {
	color:#040077;
	text-decoration: underline;		
}

#wrapper {
	width:66%;
	height: auto;
	
	border-right: 2px dotted #040077;
	border-radius: 1px;

	position: absolute;
	top:53px;
	margin-left: 3%;
	margin-right: 31%;
	margin-bottom: 2%;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 0;

}

#innerwrapper {
	height: auto;
	position: relative;
	list-style-type: none;
	text-align: center;
	float:center;
	vertical-align: middle;
	padding: 15px;
	z-index: 0;
}
.photostrip{
	position: absolute;
	width:30%;
	height:90%;
	margin-left: 70%;
	margin-right:1%;
	overflow-y: auto;
	overflow-x:hidden;
}

#devise{
	padding: 25px;
}

.post_index{
	border-top: 1px dashed #040077;

	width: 600px;

	height: auto;
	display: inline-block;
	float: center;
	margin-left: auto;
	margin-right: auto;
	margin: 11px;
	padding: 2px;
}

.button_to {
	display: block;
	margin: 5px;
	margin-right: auto;
	margin-left: auto;
}
.dropdown{
	list-style:none;
	margin-right: 0	;
	text-align: left;
	padding: 0;
	vertical-align: top;
	position: relative;
	width: 60px;
	font-size: 14px;
 }
.dropdown a{
    display:block;
    color:rgb(29, 26, 119);
	background-color:rgba(240, 185, 235, 0.55);
	padding: 5px;
	border-radius: 4px;
	    
}

.left{
	float: left;
	display: inline;	
	list-style-type: none;
	text-align: left;	
}

.dropdown a:hover{
    color:white;
	text-decoration: underline;
}
.dropdown ul{
    list-style:none;
    position:absolute;
    left: 500px;
}
.dropdown li{
	padding: 0px;
}

.dropdown ul ul{
	display: none;
	float:left;
	position: absolute;
	left: 0;
}
.dropdown ul ul li{
	margin: 2px;
}
.dropdown ul a{
    white-space:nowrap; 
}
.dropdown:hover ul {
	display: block;
}
#option-drop{
	position:relative;
	top:-20px;
	z-index: 100;
}
.nav .dropdown{
	vertical-align: center;
}

.nav .dropdown .options a{
	position: relative;
	z-index: 100;
	float: left;
	background-color: transparent;
	vertical-align: middle;
	/*padding-bottom: 20px;*/
	font-size: 11px;
	margin:20px;
}
.nav .dropdown .drop a{
	position: relative;
	white-space: nowrap;
	z-index: 100;
	float: right;
	background-color: transparent;
	vertical-align: middle;
	padding:5px;
	font-size: 11px;
	margin:1px;
	display: block;
	background-color: rgba(240, 185, 235, 0.55);
	border-radius: 4px;
}
.nav .dropdown .drop a:hover{
	color:rgb(94, 86, 86);
}
.nav .dropdown .drop a {
}

.nav .dropdown ul{
	left: 0px;
}
.nav .dropdown a{
	display: block;
}

.nav .dropdown li {
	position: relative;
	text-align: left;
	z-index:12;
}

.hide{
	display: none;
}
.files > img{
	width: 60%;
/*	height:50px !important;
*/	max-width: 100% !important;
	border-radius: 5px !important;
}
.photostrip .files{
	display: inline-block;
	width: 80%;
	padding: 8px;
	margin:0;
	margin-left: 10%;
	margin-right: 10%;
}
.photostrip .files > img{
	width: 100%;
}
.comment_form{
	margin: 10px;
	padding: 10px;
}
.comment_form input[type=text]{
	width: 500px;
	position: relative;
	text-align: left;
	padding-left: 10px;
	border-radius: 5px;
}
.uploadcare-widget-button-open{
	margin-bottom: 8px !important;
	margin-top: 5px !important;
	background-color: rgba(240, 185, 235, 0.55) !important;
	color:#1d1a77 !important;
	border-radius: 1px !important;
	font-family: "Utopia","Georgia",serif !important;
	border-radius: 2px !important;
	border-color: rgba(240, 185, 235, 0.55) !important;
}
.uploadcare-widget-button-open:hover{
	color: rgb(94, 86, 86) !important;
	text-decoration: underline !important;	
}
.uploadcare-widget-text {
	display: none !important;
}

ul{
	list-style-type: none;
}
