// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_to {
	display: inline-block;
	margin: 10px;
	vertical-align: bottom;
	margin-right: auto;
	margin-left: auto;
}
.comment_index{
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	padding: 10px;
	margin: 8px;
}
.comment_show{
	text-align: left;
}

