 .posts input[type=submit]{
	background-color:rgba(240, 185, 235, 0.55) !important;
	color:rgb(29, 26, 119) !important;
	opacity: 1.0;
	z-index: 0;
	font-weight: bold;
	padding: 2px;
	height: 40px;
	width: 100px;
	margin-top: 15px;
	border-radius: 2px;
	border-color: rgba(240, 185, 235, 0.55);
 }
td{
	padding: 5px;
	width: 60%;
}
h4{
	text-decoration: underline;
}
.comment_index{
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	padding: 10px;
	margin: 8px;
}
.post_show{
	text-align: left;
	float: center;
}


