<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
	<ul class="nav">
		<li id="top-logo"><a class="nav-link" href="https://www.LinkedIn.com/">LinkedIn.com</a></li>
		<div id="right-links">
			<li><a class="nav-link" href="http://linkd.in1dIFyrl">What is LinkedIn?</a></li>
		
			<li><a class="nav-link" href="http://linkd.in/leazoUH">Join Today</a></li>
		
			<li><a class="nav-link" href="http://linkd.in/le2p5Ug">Sign In</a></li>
		</div>
	</ul> 
</div>

<%= yield %>

</body>
</html>
